---
import { storyblokEditable, renderRichText } from '@storyblok/astro'

const { blok } = Astro.props
const text = renderRichText(blok.Text);

---

<div class="container mx-auto my-20 lg:my-40" {...storyblokEditable(blok)}>
    <div class="lg:grid grid-cols-12 gap-20 items-center">
        <div class="col-span-6 lg:order-2">

            <h2 class="text-lg lg:text-3xl mb-4 [&>em]:not-italic [&>em]:text-transparent [&>em]:bg-clip-text [&>em]:bg-gradient-to-r [&>em]:from-webdesign_1 [&>em]:to-webdesign_2" set:html={blok.Title}></h2>
            <div class="text-base mb-8 lg:mb-0 font-light" set:html={text}></div>

        </div>
        <div class="col-span-5 col-start-2 lg:order-1">

            <img class="aspect-square rounded-3xl" src={blok.Image.filename} alt="">
            <div class="mt-2 p-8 rounded-3xl bg-darkgrey">

                <p class="text-base font-light" set:html={blok.Copyright}></p>
            </div>
        </div>
    </div>
</div>