---

import { storyblokEditable } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'
const { blok } = Astro.props

---

<main {...storyblokEditable(blok)}>

    <div class="mx-auto container text-center">
            
        <h1 class="text-lg lg:text-2xl mb-12 lg:mb-20 mx-auto max-w-[800px] [&>em]:not-italic [&>em]:text-transparent [&>em]:bg-clip-text [&>em]:bg-gradient-to-r [&>em]:from-illustration_1 [&>em]:to-illustration_2">
            <Fragment set:html={blok.Title} />
        </h1>
        
    </div>

    {
    blok.Blocks?.map((blok) => {
        return <StoryblokComponent blok={blok} />
    })
    }
    
</main>