---

import Layout from '../layouts/Layout.astro';

import { Accordion, AccordionItem } from 'accessible-astro-components'


---



<Layout title="welovedaily">
	<main>
        
		<div class="mx-auto container text-center">

			<h1 class="text-xl lg:text-3xl mb-20 mx-auto max-w-[1000px]">FAQ</h1>
			<p class="mb-8">We try to answer as many questions as possible here. Can't find what you looking for? Contact us at hello@welovedaily.com.</p>

		</div>
		<div class="mx-auto container mb-40 max-w-[900px]">

			<Accordion>

				<AccordionItem header="What happens after I've submitted my work?">
					<p>After you've successfully submitted your work we'll review your submission. If we see fit on the selected channel we'll get in touch. Keep in mind that a reply on your submission may take a day or two.
					If you don't receive a reply, we're sorry to disappoint, your submission was not selected to be featured.</p>
				</AccordionItem>

				<AccordionItem header="Why do you ask a fee for submissions?">
					<p>Selecting the best content for the Welovedaily channels takes time. With the revenue we gain from submissions we are able to cover expenses such as hosting and server costs.</p>
				</AccordionItem>

				<AccordionItem header="How do you handle payments?">
				 	<p>We handle payments via Stripe. When your work is selected we will get in touch via email. Attached to this email we will add the payment link. Reviewing of the submissions can take 1-2 days. At the moment we only handle payment via PayPal.</p>
				</AccordionItem>

				<AccordionItem header="What's the difference between a Basic, Regular and Pro submission?">
					<p>The differences are outlined on the homepage. In a nutshell: basic gives less assets and square sizing only.</p>
				</AccordionItem>

				<AccordionItem header="How should I deliver my project?">
					<p>We appreciate it if projects get delivered via the form. If this somehow doesn't work, please contact us via email!</p>
				</AccordionItem>

				<AccordionItem header="Which Instagram accounts do you manage?">
					<p>Content regarding web, app and User Interface design we post on the account @welovewebdesign. This is currently our biggest account. Everything regarding the visual appearance of a brand, wether it's online or offline we'll post on @welovebranding. On @weloveillustration we post different styles of artwork and illustrations. Lastly we also manage @weloveanimations, it may be the smallest but it has the biggest viral possibility. With short snippets of delightful animations we are trying to brighten up our followers day.</p>
				</AccordionItem>
						  
			  </Accordion>
			
		</div>
	</main>
</Layout>
