---

import Layout from '../layouts/Layout.astro';

import Marquee from '../components/Marquee.astro';
import Card from '../components/Card.astro';
import Slide from '../components/Slide.astro';
import ListItem from '../components/ListItem.astro';

---

<Layout title="welovedaily">
	<main>
	
		<div class="mx-auto container text-center">

			<h1 class="text-lg lg:text-2xl mb-12 lg:mb-20 mx-auto max-w-[800px]">Share your work on the <em>biggest design community</em> on Instagram.</h1>
			
		</div>
	
		<div class="text-center">
			
			<h2 class="uppercase opacity-50 mb-4">Our channels</h2>
			<ul class="text-md lg:text-3xl mb-12 lg:mb-20">

				<li>
					<Marquee
						href="https://www.instagram.com/welovewebdesign/"
						title="welovewebdesign"
						color1="webdesign_1"
						color2="webdesign_2"
						count="701k"
					/>
				</li>
				<li>
					<Marquee
						href="https://www.instagram.com/welovebranding/"
						title="welovebranding"
						color1="branding_1"
						color2="branding_2"
						count="543k"
					/>
				</li>
				<li>
					<Marquee
						href="https://www.instagram.com/weloveillustration/"
						title="weloveillustration"
						color1="illustration_1"
						color2="illustration_2"
						count="485k"
					/>
				</li>
				<li>
					<Marquee
						href="https://www.instagram.com/weloveanimations/"
						title="weloveanimations"
						color1="animations_1"
						color2="animations_2"
						count="194k"
					/>
				</li>
				
			</ul>

		</div>



		<div class="container mx-auto my-20 lg:my-40">
			<div class="grid lg:grid-cols-3 gap-2">

				<div>
					<Card
						title="Basic"
						description="full credits to the author, 6 assets, square only"
						price="$25"
					/>
				</div>
				<div>
					<Card
						title="Regular"
						description="full credits to the author, 12 assets, 10 assets, all supported sizes allowed, guaranteed only post on that day"
						price="$35"
					/>
				</div>
				<div>
					<Card
						title="Pro"
						description="full credits to the author, 12 assets, 10 assets, all supported sizes allowed, pinned to the channel for at least 7 days, guaranteed only post on that day"
						price="$50"
					/>
				</div>

			</div>
		</div>


		<div class="flex overflow-hidden image-marquee mt:20 lg:mt-40">

			<Slide
				image="/img/caserne.jpg"
				page="welovebranding"
			/>
			<Slide
				image="/img/fishcamp.jpg"
				page="welovewebdesign"
			/>
			<Slide
				image="/img/japan.jpg"
				page="welovewebdesign"
			/>
			<Slide
				image="/img/caserne.jpg"
				page="welovanimations"
			/>
			<Slide
				image="/img/fishcamp.jpg"
				page="welovewebdesign"
			/>
			<Slide
				image="/img/japan.jpg"
				page="welovanimations"
			/>
			<Slide
				image="/img/caserne.jpg"
				page="welovanimations"
			/>
			<Slide
				image="/img/fishcamp.jpg"
				page="welovebranding"
			/>
			<Slide
				image="/img/japan.jpg"
				page="welovewebdesign"
			/>
			

		</div>


		<div class="container mx-auto my-12 lg:my-20">
			<div class="grid lg:grid-cols-3 gap-4 lg:gap-20">
				<div>

					<ListItem text="Share your work with designers from all over the world." />

				</div>
				<div>

					<ListItem text="Inspire yourself and others with your designs." />

				</div>
				<div>

					<ListItem text="Grow your follower base and reach potential clients." />

				</div>

			</div>
		</div>


		<div class="container mx-auto my-20 lg:my-40">
			<div class="lg:grid grid-cols-12 gap-20 items-center">
				<div class="col-span-6 lg:order-2">

					<h2 class="text-lg lg:text-3xl mb-4">All designs are <em>©</em> of their respective owners</h2>
					<p class="text-base mb-8 lg:mb-0 font-light">We at welovedaily think it's important that it's about you, the designer. The appreciation must go to you, not to us.</p>

				</div>
				<div class="col-span-5 col-start-2 lg:order-1">

					<img class="aspect-square rounded-3xl" src="/img/fishcamp.jpg" alt="">
					<div class="mt-2 p-8 rounded-3xl bg-darkgrey">

						<p class="text-base font-light">By George Smith @georgesmith<br />
						Follow us @welovewebdesign<br />
						Link:  instagram.com/p/Cq-ABFyNQ19/</p>

					</div>
				</div>
			</div>
		</div>

	</main>
</Layout>

<style>
em{
	@apply not-italic text-transparent bg-clip-text bg-gradient-to-r from-webdesign_1 to-webdesign_2;
}
</style>