---
import Layout from '../layouts/Layout.astro';

import Marquee from '../components/Marquee.astro';
import Card from '../components/Card.astro';


---

<Layout title="welovedaily">
	<main>
	
		<div class="mx-auto container text-center">

			<svg class="mx-auto mt-40 mb-20" width="143" height="122" viewBox="0 0 143 122" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M13.5785 101.667L17.225 114.193L20.8195 101.667H23.4845L19.24 116H15.535L11.973 104.105L8.4045 116H4.6995L0.455 101.667H3.185L6.786 114.199L10.426 101.667H13.5785ZM37.6157 111.248C37.4294 112.05 37.139 112.769 36.7447 113.406C36.3547 114.043 35.8759 114.583 35.3082 115.025C34.7449 115.467 34.1014 115.805 33.3777 116.039C32.6584 116.273 31.8784 116.39 31.0377 116.39C30.3357 116.39 29.6749 116.308 29.0552 116.143C28.4355 115.978 27.8635 115.742 27.3392 115.434C26.8192 115.122 26.3512 114.745 25.9352 114.303C25.5235 113.857 25.1725 113.354 24.8822 112.795C24.5962 112.232 24.3774 111.617 24.2257 110.949C24.074 110.278 23.9982 109.565 23.9982 108.811C23.9982 108.057 24.074 107.348 24.2257 106.685C24.3774 106.022 24.594 105.411 24.8757 104.852C25.1617 104.293 25.5084 103.793 25.9157 103.351C26.323 102.909 26.7845 102.534 27.3002 102.226C27.8159 101.919 28.3814 101.685 28.9967 101.525C29.612 101.36 30.2664 101.277 30.9597 101.277C31.9867 101.277 32.914 101.455 33.7417 101.81C34.5694 102.161 35.2757 102.662 35.8607 103.312C36.4457 103.962 36.8964 104.748 37.2127 105.671C37.529 106.594 37.6872 107.628 37.6872 108.772C37.6872 108.937 37.6829 109.099 37.6742 109.259C37.6655 109.42 37.6547 109.597 37.6417 109.792H26.6827C26.7607 110.447 26.9167 111.036 27.1507 111.56C27.389 112.08 27.6967 112.522 28.0737 112.886C28.455 113.25 28.8992 113.53 29.4062 113.725C29.9175 113.916 30.483 114.011 31.1027 114.011C32.0604 114.011 32.8599 113.781 33.5012 113.322C34.1425 112.858 34.6387 112.167 34.9897 111.248H37.6157ZM34.9637 107.517C34.877 106.893 34.7254 106.343 34.5087 105.866C34.292 105.385 34.0147 104.982 33.6767 104.657C33.3387 104.328 32.9422 104.079 32.4872 103.91C32.0365 103.741 31.5317 103.656 30.9727 103.656C30.4007 103.656 29.8764 103.745 29.3997 103.923C28.923 104.096 28.5027 104.35 28.1387 104.683C27.779 105.013 27.48 105.418 27.2417 105.899C27.0034 106.376 26.8344 106.915 26.7347 107.517H34.9637ZM42.0631 116H39.4306V96.76H42.0631V116ZM43.8283 108.83C43.8283 108.076 43.9041 107.366 44.0558 106.698C44.2074 106.031 44.4263 105.418 44.7123 104.859C44.9983 104.3 45.3471 103.799 45.7588 103.357C46.1704 102.911 46.6341 102.534 47.1498 102.226C47.6698 101.919 48.2396 101.685 48.8593 101.525C49.4789 101.36 50.1376 101.277 50.8353 101.277C51.5373 101.277 52.1959 101.36 52.8113 101.525C53.4309 101.685 53.9986 101.919 54.5143 102.226C55.0343 102.534 55.5001 102.911 55.9118 103.357C56.3234 103.799 56.6723 104.3 56.9583 104.859C57.2443 105.418 57.4631 106.031 57.6148 106.698C57.7664 107.366 57.8423 108.076 57.8423 108.83C57.8423 109.584 57.7664 110.295 57.6148 110.962C57.4631 111.63 57.2443 112.245 56.9583 112.808C56.6723 113.367 56.3234 113.868 55.9118 114.31C55.5001 114.752 55.0343 115.129 54.5143 115.441C53.9986 115.749 53.4309 115.983 52.8113 116.143C52.1959 116.308 51.5373 116.39 50.8353 116.39C50.1376 116.39 49.4789 116.308 48.8593 116.143C48.2396 115.983 47.6698 115.749 47.1498 115.441C46.6341 115.129 46.1704 114.752 45.7588 114.31C45.3471 113.868 44.9983 113.367 44.7123 112.808C44.4263 112.245 44.2074 111.63 44.0558 110.962C43.9041 110.295 43.8283 109.584 43.8283 108.83ZM46.4608 108.83C46.4608 109.632 46.5604 110.354 46.7598 110.995C46.9634 111.632 47.2538 112.176 47.6308 112.626C48.0121 113.073 48.4736 113.415 49.0153 113.653C49.5569 113.892 50.1658 114.011 50.8418 114.011C51.5178 114.011 52.1244 113.892 52.6618 113.653C53.2034 113.415 53.6628 113.073 54.0398 112.626C54.4168 112.176 54.7049 111.632 54.9043 110.995C55.1079 110.354 55.2098 109.632 55.2098 108.83C55.2098 108.029 55.1079 107.309 54.9043 106.672C54.7049 106.031 54.4168 105.487 54.0398 105.041C53.6628 104.595 53.2034 104.252 52.6618 104.014C52.1244 103.776 51.5178 103.656 50.8418 103.656C50.1658 103.656 49.5569 103.776 49.0153 104.014C48.4736 104.252 48.0121 104.597 47.6308 105.047C47.2538 105.494 46.9634 106.035 46.7598 106.672C46.5604 107.309 46.4608 108.029 46.4608 108.83ZM72.2694 101.667L67.1279 116H63.0329L57.9434 101.667H60.6734L65.1129 114.368L69.6044 101.667H72.2694ZM86.0102 111.248C85.8239 112.05 85.5336 112.769 85.1392 113.406C84.7492 114.043 84.2704 114.583 83.7027 115.025C83.1394 115.467 82.4959 115.805 81.7722 116.039C81.0529 116.273 80.2729 116.39 79.4322 116.39C78.7302 116.39 78.0694 116.308 77.4497 116.143C76.8301 115.978 76.2581 115.742 75.7337 115.434C75.2137 115.122 74.7457 114.745 74.3297 114.303C73.9181 113.857 73.5671 113.354 73.2767 112.795C72.9907 112.232 72.7719 111.617 72.6202 110.949C72.4686 110.278 72.3927 109.565 72.3927 108.811C72.3927 108.057 72.4686 107.348 72.6202 106.685C72.7719 106.022 72.9886 105.411 73.2702 104.852C73.5562 104.293 73.9029 103.793 74.3102 103.351C74.7176 102.909 75.1791 102.534 75.6947 102.226C76.2104 101.919 76.7759 101.685 77.3912 101.525C78.0066 101.36 78.6609 101.277 79.3542 101.277C80.3812 101.277 81.3086 101.455 82.1362 101.81C82.9639 102.161 83.6702 102.662 84.2552 103.312C84.8402 103.962 85.2909 104.748 85.6072 105.671C85.9236 106.594 86.0817 107.628 86.0817 108.772C86.0817 108.937 86.0774 109.099 86.0687 109.259C86.0601 109.42 86.0492 109.597 86.0362 109.792H75.0772C75.1552 110.447 75.3112 111.036 75.5452 111.56C75.7836 112.08 76.0912 112.522 76.4682 112.886C76.8496 113.25 77.2937 113.53 77.8007 113.725C78.3121 113.916 78.8776 114.011 79.4972 114.011C80.4549 114.011 81.2544 113.781 81.8957 113.322C82.5371 112.858 83.0332 112.167 83.3842 111.248H86.0102ZM83.3582 107.517C83.2716 106.893 83.1199 106.343 82.9032 105.866C82.6866 105.385 82.4092 104.982 82.0712 104.657C81.7332 104.328 81.3367 104.079 80.8817 103.91C80.4311 103.741 79.9262 103.656 79.3672 103.656C78.7952 103.656 78.2709 103.745 77.7942 103.923C77.3176 104.096 76.8972 104.35 76.5332 104.683C76.1736 105.013 75.8746 105.418 75.6362 105.899C75.3979 106.376 75.2289 106.915 75.1292 107.517H83.3582ZM101.514 96.76V116H98.8817V111.586C98.6953 112.319 98.4353 112.982 98.1017 113.575C97.768 114.169 97.3737 114.674 96.9187 115.09C96.4637 115.506 95.9523 115.827 95.3847 116.052C94.8213 116.277 94.2147 116.39 93.5647 116.39C92.9753 116.39 92.4163 116.306 91.8877 116.137C91.359 115.967 90.8693 115.725 90.4187 115.408C89.9723 115.092 89.5672 114.711 89.2032 114.264C88.8435 113.814 88.538 113.309 88.2867 112.75C88.0353 112.191 87.8403 111.582 87.7017 110.923C87.5673 110.26 87.5002 109.563 87.5002 108.83C87.5002 108.098 87.5673 107.403 87.7017 106.744C87.8403 106.085 88.0353 105.476 88.2867 104.917C88.538 104.358 88.8435 103.856 89.2032 103.409C89.5672 102.959 89.9723 102.575 90.4187 102.259C90.8693 101.943 91.359 101.7 91.8877 101.531C92.4163 101.362 92.9753 101.277 93.5647 101.277C94.2147 101.277 94.8213 101.39 95.3847 101.615C95.9523 101.841 96.4637 102.161 96.9187 102.577C97.3737 102.993 97.768 103.498 98.1017 104.092C98.4353 104.681 98.6953 105.344 98.8817 106.081V96.76H101.514ZM98.8817 108.83C98.8817 108.011 98.7798 107.279 98.5762 106.633C98.3768 105.983 98.0865 105.433 97.7052 104.982C97.3238 104.532 96.8602 104.187 96.3142 103.949C95.7682 103.711 95.1507 103.591 94.4617 103.591C93.7597 103.591 93.1378 103.706 92.5962 103.936C92.0588 104.161 91.6082 104.495 91.2442 104.937C90.8802 105.379 90.6028 105.927 90.4122 106.581C90.2258 107.231 90.1327 107.981 90.1327 108.83C90.1327 109.68 90.2258 110.432 90.4122 111.086C90.6028 111.736 90.8802 112.284 91.2442 112.73C91.6125 113.172 92.0653 113.508 92.6027 113.738C93.14 113.963 93.7597 114.076 94.4617 114.076C95.1507 114.076 95.7682 113.957 96.3142 113.718C96.8602 113.48 97.3238 113.136 97.7052 112.685C98.0865 112.23 98.3768 111.68 98.5762 111.034C98.7798 110.384 98.8817 109.649 98.8817 108.83ZM103.625 106.659C103.625 105.836 103.777 105.093 104.08 104.43C104.384 103.767 104.817 103.201 105.38 102.733C105.948 102.265 106.635 101.906 107.441 101.654C108.247 101.403 109.15 101.277 110.151 101.277C111.213 101.277 112.164 101.42 113.005 101.706C113.845 101.988 114.558 102.395 115.143 102.928C115.728 103.461 116.177 104.114 116.489 104.885C116.801 105.652 116.957 106.523 116.957 107.498V116H114.324V112.145C114.151 112.804 113.887 113.396 113.531 113.92C113.18 114.444 112.751 114.891 112.244 115.259C111.742 115.623 111.167 115.902 110.522 116.098C109.876 116.293 109.176 116.39 108.422 116.39C107.638 116.39 106.925 116.286 106.284 116.078C105.642 115.87 105.092 115.577 104.633 115.2C104.178 114.823 103.825 114.371 103.573 113.842C103.326 113.309 103.203 112.717 103.203 112.067C103.203 111.413 103.331 110.824 103.586 110.299C103.846 109.775 104.217 109.331 104.698 108.967C105.183 108.599 105.77 108.317 106.459 108.122C107.153 107.927 107.93 107.829 108.793 107.829H114.324V107.498C114.324 106.909 114.225 106.378 114.025 105.905C113.83 105.429 113.551 105.026 113.187 104.696C112.823 104.363 112.381 104.107 111.861 103.929C111.341 103.752 110.756 103.663 110.106 103.663C109.443 103.663 108.869 103.734 108.383 103.877C107.902 104.02 107.504 104.224 107.187 104.488C106.875 104.748 106.641 105.063 106.485 105.431C106.334 105.799 106.258 106.209 106.258 106.659H103.625ZM108.767 110.039C107.792 110.039 107.053 110.204 106.55 110.533C106.052 110.863 105.803 111.344 105.803 111.976C105.803 112.319 105.874 112.622 106.017 112.886C106.165 113.146 106.379 113.367 106.661 113.549C106.942 113.727 107.289 113.864 107.701 113.959C108.117 114.05 108.593 114.095 109.131 114.095C109.893 114.095 110.591 114.007 111.224 113.829C111.861 113.647 112.409 113.393 112.868 113.068C113.328 112.743 113.685 112.358 113.941 111.911C114.196 111.461 114.324 110.969 114.324 110.436V110.039H108.767ZM121.677 100.01H118.914V96.76H121.677V100.01ZM121.612 116H118.979V101.667H121.612V116ZM126.335 116H123.702V96.76H126.335V116ZM142.068 101.667L136.134 116.904C135.835 117.666 135.486 118.325 135.087 118.88C134.693 119.434 134.238 119.891 133.722 120.251C133.211 120.615 132.637 120.884 132 121.057C131.367 121.23 130.663 121.317 129.887 121.317C129.463 121.317 129.064 121.291 128.691 121.239V118.945C128.921 118.975 129.133 118.997 129.328 119.01C129.528 119.023 129.718 119.029 129.9 119.029C130.334 119.029 130.726 118.988 131.077 118.906C131.428 118.823 131.74 118.695 132.013 118.522C132.29 118.349 132.531 118.128 132.734 117.859C132.938 117.595 133.109 117.276 133.248 116.904L133.43 116.423L127.742 101.667H130.472L134.912 113.601L139.403 101.667H142.068Z" fill="white"/>
				<g clip-path="url(#clip0_1130_209)">
				<path d="M76.7735 0.538231L79.5475 13.5715L83.5903 0.850753L85.7809 0.952033L81.1926 15.0329L78.0248 14.8882L75.2771 2.47123L71.3305 14.5843L68.1628 14.4396L64.9717 0L67.2148 0.10128L69.9888 13.1346L74.0287 0.413801L76.7735 0.538231Z" fill="white"/>
				<path d="M92.7785 19.0175C92.2272 19.3358 91.6701 19.5528 91.1042 19.6715C90.5383 19.7901 89.9783 19.8046 89.4299 19.7235C88.8815 19.6396 88.3477 19.4602 87.8344 19.1795C87.321 18.8988 86.8368 18.5255 86.3905 18.0568C86.0171 17.6661 85.7109 17.2523 85.4746 16.8211C85.2383 16.3871 85.0662 15.9444 84.9641 15.49C84.862 15.0357 84.8241 14.5756 84.8533 14.1097C84.8825 13.6438 84.9787 13.1837 85.1421 12.7265C85.3054 12.2693 85.5329 11.8237 85.8305 11.3839C86.1251 10.9469 86.4868 10.5273 86.9097 10.1309C87.3356 9.73444 87.7731 9.40166 88.2282 9.13544C88.6803 8.86921 89.1411 8.66955 89.6079 8.53354C90.0746 8.39754 90.5383 8.3252 91.0051 8.31941C91.4718 8.31362 91.9268 8.37439 92.3731 8.49882C92.8194 8.62325 93.254 8.81713 93.6711 9.07467C94.0882 9.33221 94.482 9.65341 94.8525 10.0412C95.3979 10.6141 95.7917 11.2247 96.0338 11.8729C96.2759 12.5211 96.3692 13.1809 96.3138 13.8493C96.2584 14.5177 96.0571 15.1862 95.7042 15.8489C95.3512 16.5115 94.8554 17.1452 94.2107 17.75C94.1174 17.8368 94.024 17.9208 93.9307 17.9989C93.8374 18.077 93.7294 18.1667 93.6128 18.2622L87.7877 12.1449C87.461 12.5327 87.2131 12.932 87.0468 13.34C86.8776 13.748 86.793 14.1531 86.7901 14.5554C86.7872 14.9576 86.866 15.354 87.0293 15.7389C87.1927 16.1238 87.4377 16.4913 87.7673 16.8356C88.2777 17.371 88.832 17.695 89.4328 17.8108C90.0337 17.9265 90.6842 17.8397 91.3901 17.5504L92.7873 19.0175H92.7785ZM93.4669 15.5682C93.7732 15.192 94.0007 14.8158 94.1553 14.4425C94.3099 14.0692 94.3887 13.7017 94.3945 13.34C94.3974 12.9783 94.3274 12.6282 94.1816 12.2838C94.0357 11.9394 93.814 11.6154 93.5165 11.3028C93.2132 10.9845 92.8835 10.7357 92.5306 10.5649C92.1776 10.3913 91.813 10.29 91.4338 10.264C91.0546 10.2379 90.6667 10.2842 90.27 10.4029C89.8733 10.5215 89.4795 10.7125 89.0886 10.9758L93.464 15.5682H93.4669Z" fill="white"/>
				<path d="M104.292 27.9273L91.8859 27.1662L91.4279 34.4989L89.4707 34.3773L90.0599 24.9525L104.423 25.8351L104.292 27.9273Z" fill="white"/>
				<path d="M94.4969 36.0267C94.9986 36.3248 95.439 36.6547 95.824 37.0164C96.2062 37.3781 96.527 37.7659 96.7866 38.1739C97.0433 38.5819 97.2388 39.0102 97.37 39.4558C97.5013 39.9014 97.5684 40.3557 97.5654 40.8187C97.5654 41.2817 97.4954 41.7476 97.3554 42.2222C97.2183 42.6939 97.0112 43.1598 96.7341 43.6199C96.4541 44.0829 96.1391 44.4851 95.7861 44.8294C95.4332 45.1738 95.0511 45.4545 94.6427 45.6744C94.2314 45.8943 93.7968 46.0535 93.3388 46.149C92.8809 46.2445 92.4084 46.2792 91.9241 46.2474C91.4399 46.2155 90.9441 46.1171 90.4424 45.9551C89.9377 45.793 89.436 45.5615 88.9343 45.2664C88.4326 44.9683 87.9921 44.6384 87.6071 44.2767C87.225 43.915 86.9012 43.5273 86.6445 43.1192C86.3849 42.7083 86.1895 42.283 86.0612 41.8373C85.9299 41.3917 85.8657 40.9374 85.8657 40.4744C85.8657 40.0114 85.9328 39.5426 86.0699 39.0738C86.207 38.6022 86.4141 38.1363 86.6941 37.6733C86.9712 37.2132 87.2863 36.8109 87.6392 36.4666C87.9921 36.1222 88.3772 35.8387 88.7885 35.6216C89.1998 35.4017 89.6344 35.2425 90.0923 35.1471C90.5503 35.0516 91.0199 35.0168 91.507 35.0487C91.9941 35.0805 92.49 35.1789 92.9917 35.3409C93.4934 35.503 93.9981 35.7345 94.4998 36.0296L94.4969 36.0267ZM93.4526 37.763C92.9188 37.4476 92.4025 37.2305 91.8979 37.1119C91.3933 36.9932 90.9178 36.9701 90.4686 37.0453C90.0194 37.1177 89.6081 37.2855 89.2348 37.5488C88.8614 37.8122 88.5405 38.1652 88.2722 38.6108C88.0038 39.0565 87.8405 39.505 87.785 39.9535C87.7296 40.402 87.7763 40.8419 87.9251 41.2673C88.0738 41.6926 88.3188 42.0978 88.666 42.4826C89.0102 42.8675 89.4506 43.2176 89.9815 43.533C90.5153 43.8485 91.0316 44.0655 91.5362 44.1841C92.0408 44.3028 92.5163 44.3259 92.9626 44.2536C93.4088 44.1812 93.8172 44.0134 94.1906 43.753C94.5639 43.4925 94.8848 43.1366 95.1532 42.691C95.4215 42.2453 95.5849 41.7968 95.6403 41.3454C95.6957 40.894 95.652 40.4541 95.5032 40.0288C95.3544 39.6034 95.1094 39.1954 94.7681 38.8134C94.4239 38.4285 93.9864 38.0784 93.4526 37.7659V37.763Z" fill="white"/>
				<path d="M84.658 57.1393L79.3726 46.6872L81.5602 44.4099L92.309 49.1758L90.8506 50.6921L81.3619 46.4297L86.0785 55.6549L84.6551 57.1364L84.658 57.1393Z" fill="white"/>
				<path d="M71.1878 58.8958C70.9224 58.3199 70.7591 57.747 70.6978 57.1769C70.6366 56.6069 70.6745 56.0542 70.8116 55.5188C70.9487 54.9835 71.182 54.4771 71.5145 53.9967C71.8471 53.5164 72.27 53.0794 72.7834 52.683C73.2122 52.3531 73.6585 52.0927 74.1135 51.9017C74.5685 51.7107 75.0323 51.5863 75.499 51.5313C75.9657 51.4734 76.4295 51.485 76.8933 51.5602C77.3571 51.6355 77.8092 51.7773 78.2526 51.9827C78.696 52.1882 79.1218 52.4602 79.5302 52.7958C79.9415 53.1315 80.3236 53.528 80.6795 53.9881C81.0353 54.4453 81.3241 54.9112 81.5458 55.3857C81.7675 55.8603 81.9221 56.3349 82.0125 56.8065C82.1029 57.2782 82.1292 57.747 82.0883 58.2042C82.0475 58.6614 81.9425 59.107 81.7733 59.5382C81.6041 59.9665 81.3679 60.3745 81.0674 60.7622C80.767 61.15 80.4053 61.5059 79.9794 61.8329C79.3494 62.3162 78.6989 62.6432 78.0251 62.8168C77.3513 62.9904 76.6804 63.0165 76.0153 62.8978C75.3503 62.7763 74.7027 62.5101 74.0698 62.0991C73.4368 61.6882 72.8534 61.1326 72.3109 60.4382C72.2321 60.3369 72.1592 60.2385 72.0892 60.1372C72.0192 60.0359 71.9404 59.9231 71.8558 59.7986L78.5705 54.6536C78.2118 54.2919 77.8384 54.0083 77.4475 53.8029C77.0567 53.5974 76.6571 53.4701 76.2516 53.4296C75.8462 53.3862 75.4436 53.4267 75.0411 53.5482C74.6386 53.6697 74.2477 53.8752 73.8656 54.1675C73.2793 54.616 72.8972 55.1311 72.7251 55.7127C72.55 56.2943 72.5734 56.9454 72.7921 57.6689L71.1849 58.9016L71.1878 58.8958ZM74.5773 59.9173C74.9244 60.2558 75.2803 60.5192 75.6391 60.7102C75.9978 60.8983 76.3595 61.014 76.7212 61.0545C77.0829 61.095 77.4417 61.0603 77.8005 60.9503C78.1593 60.8404 78.5064 60.6552 78.8506 60.3918C79.2006 60.1227 79.4806 59.8247 79.6906 59.4919C79.9007 59.162 80.0378 58.8119 80.1019 58.4386C80.1661 58.0653 80.1603 57.6804 80.0786 57.2782C79.9969 56.876 79.8452 56.468 79.6206 56.0542L74.5802 59.9173H74.5773Z" fill="white"/>
				</g>
				<path d="M60.5039 15.1769L59.5799 14.2253C53.0402 7.46887 42.463 7.46887 35.9234 14.2218C29.3589 21.0065 29.3589 32.0219 35.9234 38.8066L53.911 57.3957C55.7378 59.2811 58.1191 60.222 60.5039 60.222" stroke="white" stroke-width="12"/>
				<defs>
				<clipPath id="clip0_1130_209">
				<rect width="39.4512" height="62.9702" fill="white" transform="translate(64.9717)"/>
				</clipPath>
				</defs>
			</svg>

			<h1 class="text-3xl mb-20 mx-auto max-w-[1000px]">Share your work on the biggest design community on Instagram.</h1>
			
		</div>
	
		<div class="text-center">
			<h2 class="uppercase opacity-50 mb-4">Our channels</h2>
			<ul class="text-4xl mb-20">
				<li class="relative group overflow-hidden">
					<a href="" class="py-2 flex items-center justify-center">
						<div class="marquee from-[#FBAB7E] to-[#F7CE68]">
							<span>welovewebdesign </span>
							<span>welovewebdesign </span>
							<span>welovewebdesign </span>
							<span>welovewebdesign </span>
							<span>welovewebdesign </span>
							<span>welovewebdesign </span>
						</div>
						welovewebdesign
						<span class="tag from-[#FBAB7E] to-[#F7CE68]">700k</span>
					</a>
				</li>
				<li class="relative group overflow-hidden">
					<a href="" class="py-2 flex items-center justify-center">
						<div class="marquee from-[#0093E9] to-[#80D0C7]">
							<span>welovebranding</span>
							<span>welovebranding</span>
							<span>welovebranding</span>
							<span>welovebranding</span>
							<span>welovebranding</span>
							<span>welovebranding</span>
						</div>
						welovebranding 
						<span class="tag from-[#0093E9] to-[#80D0C7]">543k</span>
					</a>
				</li>
				<li class="relative group overflow-hidden">
					<a href="" class="py-2 flex items-center justify-center">
						<div class="marquee from-[#CB2D3E] to-[#EF473A]">
							<span>weloveillustration </span>
							<span>weloveillustration </span>
							<span>weloveillustration </span>
							<span>weloveillustration </span>
							<span>weloveillustration </span>
							<span>weloveillustration </span>
						</div>
						weloveillustration 
						<span class="tag from-[#CB2D3E] to-[#EF473A]">485k</span>
					</a>
				</li>
				<li class="relative group overflow-hidden">
					<a href="" class="py-2 flex items-center justify-center">
						<div class="marquee from-[#654EA3] to-[#EAAFC8]">
							<span>weloveanimation </span>
							<span>weloveanimation </span>
							<span>weloveanimation </span>
							<span>weloveanimation </span>
							<span>weloveanimation </span>
							<span>weloveanimation </span>
						</div>
						weloveanimation 
						<span class="tag from-[#654EA3] to-[#EAAFC8]">194k</span>
					</a>
				</li>
			</ul>
		</div>


		<div class="flex overflow-hidden image-marquee mt-40">

			<div class="px-4"><img class="aspect-[4/5] w-[400px] object-cover rounded-3xl max-w-none" src="/img/caserne.jpg"></div>
			<div class="px-4"><img class="aspect-[4/5] w-[400px] object-cover rounded-2xl max-w-none" src="/img/fishcamp.jpg"></div>
			<div class="px-4"><img class="aspect-[4/5] w-[400px] object-cover rounded-2xl max-w-none" src="/img/japan.jpg"></div>
			<div class="px-4"><img class="aspect-[4/5] w-[400px] object-cover rounded-2xl max-w-none" src="/img/caserne.jpg"></div>
			<div class="px-4"><img class="aspect-[4/5] w-[400px] object-cover rounded-2xl max-w-none" src="/img/fishcamp.jpg"></div>
			<div class="px-4"><img class="aspect-[4/5] w-[400px] object-cover rounded-2xl max-w-none" src="/img/japan.jpg"></div>

		</div>


		<div class="container mx-auto my-40">
			<div class="flex gap-8">
				<div class="text-black w-1/3">
					<div class="flex">
						<h2 class="grow bg-white text-3xl p-8 pb-0 rounded-t-3xl">Starter</h2>
						<div class="w-[95px] h-[95px] relative">
							<div class="absolute top-[45px] right-[45px] w-[50px] h-[50px] bg-black rounded-bl-3xl z-20"></div>
							<div class="absolute aspect-square w-[50px] h-[50px] bg-white top-[45px] right-[45px] z-10"></div>
						</div>
						
					</div>
					<div class="bg-white p-8 pt-8 rounded-b-3xl rounded-r-3xl">
						<p class="text-base">Post up to 10 images or videos in square format to our instagram feed for 2 weeks or longer. At one of our 4 channels.</p>
						<p class="text-2xl mt-8">$28</p>
					</div>
				</div>
				<div class="text-black w-1/3">
					
				</div>
				<div class="text-black w-1/3">
					aaa
				</div>
			</div>
		</div>

	</main>
</Layout>


<style>
	.marquee{
		@apply overflow-hidden absolute left-0 top-0 w-full bg-gradient-to-r text-black py-2 h-[96px] [&>span]:mx-4 flex translate-y-full group-hover:translate-y-0 transition duration-300;
	}
	.tag{
		@apply ml-4 px-4 py-2 text-sm text-black leading-none rounded-full bg-gradient-to-r
	}
</style>
