---

import Layout from '../layouts/Layout.astro';

import Logo from '../snippets/Logo.astro';

import Marquee from '../components/Marquee.astro';
import Card from '../components/Card.astro';
import Slide from '../components/Slide.astro';

---

<Layout title="welovedaily">
	<main>
        
		<div class="mx-auto container text-center">

			<a href="/"><Logo /></a>

			<h1 class="text-xl lg:text-3xl mb-20 mx-auto max-w-[1000px]">Submit your work</h1>
			
		</div>
	</main>
</Layout>