---
const { title, price } = Astro.props;
---

<a class="text-black group " href={`/submit/?plan=${encodeURIComponent(title)}`}>
	<div class="flex">
		<h2 class="grow bg-white text-lg lg:text-2xl p-6 lg:p-8 !pb-0 rounded-t-3xl">{title}</h2>
		<div class="w-[70px] h-[70px] lg:w-[95px] lg:h-[95px] relative overflow-hidden">
			
			<svg class="w-[50px] lg:w-[75px] absolute top-2 right-2 z-40 -translate-y-24 rotate-90 group-hover:translate-y-0 group-hover:rotate-0 transition duration-500" width="75" height="75" viewBox="0 0 75 75" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M37.5 2C17.8939 2 2 17.8939 2 37.5C2 57.1061 17.8939 73 37.5 73C57.1061 73 73 57.1061 73 37.5C73 17.8939 57.1061 2 37.5 2ZM0 37.5C0 16.7893 16.7893 0 37.5 0C58.2107 0 75 16.7893 75 37.5C75 58.2107 58.2107 75 37.5 75C16.7893 75 0 58.2107 0 37.5Z" fill="white"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M50.7071 25.7071L25.8135 50.6007L24.3993 49.1865L49.2929 24.2929L50.7071 25.7071Z" fill="white"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M49 26H24V24H51V51H49V26Z" fill="white"/>
			</svg>
									
			<div class="absolute top-[10px] right-[10px] lg:top-[35px] lg:right-[35px] w-[60px] h-[60px] bg-black rounded-bl-3xl z-20"></div>
			<div class="absolute aspect-square w-[50px] h-[50px] bg-white top-[20px] right-[20px] lg:top-[45px] lg:right-[45px] z-10"></div>
		</div>
		
	</div>
	<div class="bg-white p-6 lg:p-8 rounded-b-3xl rounded-r-3xl">


		{title === 'Basic' ? (
		<p class="text-base font-light">
			full credits to the author<br />
			max 6 assets
		</p>
	  ) : title === 'Regular' ? (
	  	<p class="text-base font-light">
			full credits to the author<br />
			max 10 assets<br />
			guaranteed only post on that day
		</p>
	  ) : (
	  	<p class="text-base font-light">
			full credits to the author<br />
			max 10 assets<br />
			all supported sizes allowed<br />
			guaranteed only post on that day<br />
			pinned to the channel for at least 7 days
		</p>
	  )}

		<p class="text-md mt-8">{price}</p>

	</div>
</a>