---
const { title, price, description } = Astro.props;
---

<div class="text-black">
	<div class="flex">
		<h2 class="grow bg-white text-3xl p-8 pb-0 rounded-t-3xl">{title}</h2>
		<div class="w-[95px] h-[95px] relative">
			<div class="absolute top-[45px] right-[45px] w-[50px] h-[50px] bg-black rounded-bl-3xl z-20"></div>
			<div class="absolute aspect-square w-[50px] h-[50px] bg-white top-[45px] right-[45px] z-10"></div>
		</div>
		
	</div>
	<div class="bg-white p-8 pt-8 rounded-b-3xl rounded-r-3xl">
		<p class="text-base">{description}</p>
		<p class="text-2xl mt-8">{price}</p>
	</div>
</div>