---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script src="../scripts/app.js"></script>

	</head>
	<body>

		<slot />

		<footer class="bg-offwhite text-black">
			<div class="container mx-auto py-12">

				<div class="flex">
					<p class="grow text-xl">Part of Okaia ©2023</p>
					<ul class="flex gap-6 text-xl">
						<li><a href="/">Home</a></li>
						<li><a href="/faq">FAQ</a></li>
						<li><a href="/submit">Submit</a></li>
					</ul>
				</div>

			</div>
		</footer>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-Regular.woff') format('woff');
		src: url('/fonts/Nohemi-Regular.woff2') format('woff2');
		font-weight: normal;
		font-style: normal;
		font-display: swap;
	}
	html {
		background-color: #120E0E;
		color: #fff;
		font-family: 'Nohemi', Arial, Helvetica, sans-serif;
	}
	body {
		font-family: 'Nohemi', Arial, Helvetica, sans-serif;
	}
	
</style>
