---

import { ViewTransitions } from 'astro:transitions';
import Logo from '../snippets/Logo.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>

		<script type="application/javascript" async src="https://www.googletagmanager.com/gtag/js?id=G-GZ5LVS69LG"></script>
		<script type="application/javascript">
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-GZ5LVS69LG');
		</script>
		<script type="application/javascript">
			!function(f,b,e,v,n,t,s)
			{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};
			if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
			n.queue=[];t=b.createElement(e);t.async=!0;
			t.src=v;s=b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t,s)}(window, document,'script',
			'https://connect.facebook.net/en_US/fbevents.js');
			fbq('init', '6799216706756559');
			fbq('track', 'PageView');
		</script>
		<noscript type="application/javascript"><img height="1" width="1" style="display:none"
		src="https://www.facebook.com/tr?id=6799216706756559&ev=PageView&noscript=1"
		/></noscript>
		<script defer data-domain="welovedaily.com" src="https://plausible.io/js/script.js"></script>

		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<script src="../scripts/app.js" ></script>

		<ViewTransitions />

	</head>
	<body>

		
		<a href="/submit/" class="fixed top-4 lg:top-6 right-4 lg:right-6 bg-darkgrey border-2 border-white w-[40px] h-[40px] lg:w-[75px] lg:h-[75px] rounded-xl z-50 flex items-center justify-center group overflow-hidden">
			<svg class="w-[20px] lg:w-[40px]" width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 31.5V0.5H16.5V31.5H14.5Z" fill="white"/>
				<path fill-rule="evenodd" clip-rule="evenodd" d="M0 15L31 15L31 17L-8.74228e-08 17L0 15Z" fill="white"/>
			</svg>
			<div class="bg-white rounded-xl  w-[60px] lg:w-[75px]  h-[60px] lg:h-[75px] z-60 absolute translate-y-full flex items-center justify-center -rotate-90 group-hover:rotate-0 group-hover:translate-y-0 transition duration-500">
				<svg class="w-[20px] lg:w-[40px]" width="31" height="32" viewBox="0 0 31 32" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M14.5 31.5V0.5H16.5V31.5H14.5Z" fill="#120E0E"/>
					<path fill-rule="evenodd" clip-rule="evenodd" d="M0 15L31 15L31 17L-8.74228e-08 17L0 15Z" fill="#120E0E"/>
				</svg>
			</div>
		</a>

		<div class="mx-auto container text-center mt-16 lg:mt-36 mb-12 lg:mb-20">

			<a href="/"><Logo /></a>
			
		</div>

		<slot />

		<footer class="bg-offwhite text-black">
			<div class="container mx-auto py-12">

				<div class="flex">
					<p class="grow text-base lg:text-md">Copyright 2023</p>
					<ul class="lg:flex text-right gap-6 text-base lg:text-md">
						<li><a href="/">Home</a></li>
						<li><a href="/faq/">FAQ</a></li>
						<li><a href="/submit/">Submit</a></li>
					</ul>
				</div>

			</div>
		</footer>
	</body>
</html>
<style is:global>
	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-Regular.woff') format('woff');
		src: url('/fonts/Nohemi-Regular.woff2') format('woff2');
		font-weight: 400;
		font-style: normal;
		font-display: swap;
	}
	@font-face {
		font-family: 'Nohemi';
		src: url('/fonts/Nohemi-Light.woff') format('woff');
		font-weight: 300;
		font-style: normal;
		font-display: swap;
	}
	html {
		background-color: #120E0E;
		color: #fff;
		font-family: 'Nohemi', Arial, Helvetica, sans-serif;
	}
	body {
		font-family: 'Nohemi', Arial, Helvetica, sans-serif;
	}
	
</style>
